* {
  font-family: 'Poppins', sans-serif;
  background-color: #F0FFF0;
  box-sizing: border-box;
}

p, a {
  font-size: 17px;
  color: #000!important;
}

Header img {
  width: 250px;
}

.App-link {
  color: #61dafb;
}

.btn {
  color: #FFF!important;
  background-color: #21b573;
  padding: 10px 0;
}

.btn:hover {
  color: #21b573!important;
  background-color: #f0fff0;
  border: 1px solid #21b573;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
